@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

@mixin circlenav($items, $buttonSize: 2, $wedgeSize: 20, $button: cn-button, $wrapper: cn-wrapper, $color: #a11313 ) {
	$angleValue : 180 / $items;
	$skewValue : 90 - $angleValue;
	$unrotValue : -1 * (90-($angleValue/2));
	$i : 0;
	.#{$button} {
		border: none;
		background: none;
		color: #f06060;
		text-align: center;
		font-size: #{$buttonSize}em;
		padding-bottom: 1em;
		height: #{2 * $buttonSize}em;
		width: #{2 * $buttonSize}em;
		background-color: #fff;
		position: fixed;
		left: 50%;
		margin-left: #{-1 * $buttonSize}em;
		bottom: #{-1 * $buttonSize}em;
		border-radius: 50%;
		cursor: pointer;
		z-index: 11;
		&:hover, &:active, &:focus {
			color: #aa1010;
		}
	}
	.#{$wrapper} {
		font-size: 1rem;
		width: #{2 * $wedgeSize}em;
		height: #{2 * $wedgeSize}em;
		overflow: hidden;
		position: fixed;
		z-index: 10;
		bottom: #{-1 * $wedgeSize}em;
		left: 50%;
		border-radius: 50%;
		margin-left: #{-1 * $wedgeSize}em;
		-webkit-transform: scale(0.01);
		-ms-transform: scale(0.01);
		-moz-transform: scale(0.01);
		transform: scale(0.01);
		pointer-events: none;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
		  &.opened-nav {
    border-radius: 50%;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
		li {
			position: absolute;
			font-size: 1.5rem;
			width: #{$wedgeSize}em;
			height: #{$wedgeSize}em;
			-webkit-transform-origin: 100% 100%;
			-moz-transform-origin: 100% 100%;
			-ms-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
			overflow: hidden;
			left: 50%;
			top: 50%;
			margin-top: #{-.5 * $wedgeSize}rem;
			margin-left: #{-1 * $wedgeSize}em;
			-webkit-transition: border .3s ease;
			-moz-transition: border .3s ease;
			transition: border .3s ease;
			@while $i < $items {
				$rotValue : $i * $angleValue;
				$child : $i + 1;
				@if $i == 0 {
					&:first-child {
						-webkit-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-moz-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-o-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-ms-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						}
					}
				@else {
					&:nth-child(#{$child}){
						-webkit-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-moz-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-o-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						-ms-transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);
						transform: rotate(#{$rotValue}deg) skew(#{$skewValue}deg);				}
						}		
				$i: $i + 1;
			}
			a {
				display: block;
				height: #{$wedgeSize}rem;
				width: #{$wedgeSize}rem;
				position: absolute;
				bottom: #{-.5 * $wedgeSize}rem;
				right: #{-.5 * $wedgeSize}rem;
				border-radius: 50%;
				text-decoration: none;
				color: #fff;
				padding-top: 1.8em;
				text-align: center;
				 -webkit-backface-visibility: hidden;
				-webkit-transition: opacity 0.3s, color 0.3s;
				-moz-transition: opacity 0.3s, color 0.3s;
				transition: opacity 0.3s, color 0.3s;
				-webkit-transform:  skew(-#{$skewValue}deg) rotate(#{$unrotValue}deg) scale(1);
				-moz-transform: skew(-#{$skewValue}deg) rotate(#{$unrotValue}deg) scale(1);
				-o-transform: skew(-#{$skewValue}deg) rotate(#{$unrotValue}deg) scale(1);
				-ms-transform: skew(-#{$skewValue}deg) rotate(#{$unrotValue}deg) scale(1);
				transform: skew(-#{$skewValue}deg) rotate(#{$unrotValue}deg) scale(1);
				span {
				  font-size: #{.1 * $wedgeSize}rem;
				  opacity: 0.7;
				  line-height: #{$wedgeSize / 5}rem;
				}
			}
			&:nth-child(odd) a {
			    background-color: $color;
			  }
			&:nth-child(even) a {
				background-color: lighten($color, 3%);
			}
			&.active a {
				background-color: darken($color, 5%);
			}
			&:not(.active) a {
				&:hover, &:active, &:focus {
				  background-color: darken($color, 5%);
				}
			}
		}
	}	
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

html {
  height: 100%;
}

body {
	font-size: 62.5%;
  height: 100%;
  background: #f06060;
  color: #fff;
}

.csstransforms {


  .cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
  &.on-overlay {
    visibility: visible;
    opacity: 1;
  }
}
}




.csstransforms {
  @include circlenav(6,2,35);
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

/* active style */

/* hover style */

/* fallback */

.no-csstransforms {
  .cn-button {
    display: none;
  }
  .cn-wrapper {
    li {
      position: static;
      float: left;
      font-size: 1em;
      height: 5em;
      width: 5em;
      background-color: #eee;
      text-align: center;
      line-height: 5em;
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
        font-size: 1.3em;
        border-right: 1px solid #ddd;
        &:last-child {
          border: none;
        }
        &:hover, &:active, &:focus {
          background-color: white;
        }
      }
      &.active a {
        background-color: #6F325C;
        color: #fff;
      }
    }
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
  }
}

@media screen and (max-width: 480px) {
  .csstransforms .cn-wrapper {
    font-size: .68em;
  }
  .cn-button {
    font-size: 1em;
  }
  .csstransforms .cn-wrapper li {
    font-size: 1.52em;
  }
}

@media screen and (max-width: 320px) {
  .no-csstransforms .cn-wrapper {
    width: 15.15px;
    margin-left: -7.5em;
    li {
      height: 3em;
      width: 3em;
    }
  }
}

