@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
/* line 140, ../sass/component1.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* line 149, ../sass/component1.scss */
html {
  height: 100%;
}

/* line 153, ../sass/component1.scss */
body {
  font-size: 62.5%;
  height: 100%;
  background: #f06060;
  color: #fff;
}

/* line 163, ../sass/component1.scss */
.csstransforms .cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
}
/* line 178, ../sass/component1.scss */
.csstransforms .cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

/* line 8, ../sass/component1.scss */
.csstransforms .cn-button {
  border: none;
  background: none;
  color: #f06060;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  height: 4em;
  width: 4em;
  background-color: #fff;
  position: fixed;
  left: 50%;
  margin-left: -2em;
  bottom: -2em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
}
/* line 25, ../sass/component1.scss */
.csstransforms .cn-button:hover, .csstransforms .cn-button:active, .csstransforms .cn-button:focus {
  color: #aa1010;
}
/* line 29, ../sass/component1.scss */
.csstransforms .cn-wrapper {
  font-size: 1rem;
  width: 70em;
  height: 70em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  bottom: -35em;
  left: 50%;
  border-radius: 50%;
  margin-left: -35em;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -moz-transform: scale(0.01);
  transform: scale(0.01);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 48, ../sass/component1.scss */
.csstransforms .cn-wrapper.opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* line 56, ../sass/component1.scss */
.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5rem;
  width: 35em;
  height: 35em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -17.5rem;
  margin-left: -35em;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}
/* line 77, ../sass/component1.scss */
.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(0deg) skew(60deg);
  -moz-transform: rotate(0deg) skew(60deg);
  -o-transform: rotate(0deg) skew(60deg);
  -ms-transform: rotate(0deg) skew(60deg);
  transform: rotate(0deg) skew(60deg);
}
/* line 86, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(60deg);
  -moz-transform: rotate(30deg) skew(60deg);
  -o-transform: rotate(30deg) skew(60deg);
  -ms-transform: rotate(30deg) skew(60deg);
  transform: rotate(30deg) skew(60deg);
}
/* line 86, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(60deg) skew(60deg);
  -moz-transform: rotate(60deg) skew(60deg);
  -o-transform: rotate(60deg) skew(60deg);
  -ms-transform: rotate(60deg) skew(60deg);
  transform: rotate(60deg) skew(60deg);
}
/* line 86, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(90deg) skew(60deg);
  -moz-transform: rotate(90deg) skew(60deg);
  -o-transform: rotate(90deg) skew(60deg);
  -ms-transform: rotate(90deg) skew(60deg);
  transform: rotate(90deg) skew(60deg);
}
/* line 86, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(120deg) skew(60deg);
  -moz-transform: rotate(120deg) skew(60deg);
  -o-transform: rotate(120deg) skew(60deg);
  -ms-transform: rotate(120deg) skew(60deg);
  transform: rotate(120deg) skew(60deg);
}
/* line 86, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(6) {
  -webkit-transform: rotate(150deg) skew(60deg);
  -moz-transform: rotate(150deg) skew(60deg);
  -o-transform: rotate(150deg) skew(60deg);
  -ms-transform: rotate(150deg) skew(60deg);
  transform: rotate(150deg) skew(60deg);
}
/* line 95, ../sass/component1.scss */
.csstransforms .cn-wrapper li a {
  display: block;
  height: 35rem;
  width: 35rem;
  position: absolute;
  bottom: -17.5rem;
  right: -17.5rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
  -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
  -o-transform: skew(-60deg) rotate(-75deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
  transform: skew(-60deg) rotate(-75deg) scale(1);
}
/* line 116, ../sass/component1.scss */
.csstransforms .cn-wrapper li a span {
  font-size: 3.5rem;
  opacity: 0.7;
  line-height: 7rem;
}
/* line 122, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: #a11313;
}
/* line 125, ../sass/component1.scss */
.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: #af1515;
}
/* line 128, ../sass/component1.scss */
.csstransforms .cn-wrapper li.active a {
  background-color: #8a1010;
}
/* line 132, ../sass/component1.scss */
.csstransforms .cn-wrapper li:not(.active) a:hover, .csstransforms .cn-wrapper li:not(.active) a:active, .csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #8a1010;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
/* active style */
/* hover style */
/* fallback */
/* line 203, ../sass/component1.scss */
.no-csstransforms .cn-button {
  display: none;
}
/* line 206, ../sass/component1.scss */
.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  bottom: 0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border: 1px solid #ddd;
}
/* line 207, ../sass/component1.scss */
.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}
/* line 216, ../sass/component1.scss */
.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}
/* line 224, ../sass/component1.scss */
.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}
/* line 227, ../sass/component1.scss */
.no-csstransforms .cn-wrapper li a:hover, .no-csstransforms .cn-wrapper li a:active, .no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}
/* line 231, ../sass/component1.scss */
.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

@media screen and (max-width: 480px) {
  /* line 250, ../sass/component1.scss */
  .csstransforms .cn-wrapper {
    font-size: .68em;
  }

  /* line 253, ../sass/component1.scss */
  .cn-button {
    font-size: 1em;
  }

  /* line 256, ../sass/component1.scss */
  .csstransforms .cn-wrapper li {
    font-size: 1.52em;
  }
}
@media screen and (max-width: 320px) {
  /* line 262, ../sass/component1.scss */
  .no-csstransforms .cn-wrapper {
    width: 15.15px;
    margin-left: -7.5em;
  }
  /* line 265, ../sass/component1.scss */
  .no-csstransforms .cn-wrapper li {
    height: 3em;
    width: 3em;
  }
}
